<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="api.service.UserService" level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
    </logger>
    <logger name="api.service.TaskService" level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>

</configuration>